@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.key {
    color: #bbbbbb;
    font-weight: bold;
}

.value {
    color: #20e6dd;
}

.background {
  background-image: url('../src/Moonrise.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
